body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button.completed {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.completed:hover {
    background-color: rgb(148, 97, 2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.pagination button {
    background-color: #007bff; /* Azul */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

.pagination button:disabled {
    background-color: #b0c4de; /* Cinza-azulado para botões desabilitados */
    cursor: not-allowed;
}

li button {
    background-color: #f44336;
}

li button:hover {
    background-color: #e41d1d;
}

.popover {
    position: absolute;
    max-width: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
    z-index: 1000;
    white-space: pre-line; /* Preserva as quebras de linha */
}

.popover::after {
    content: '';
    position: absolute;
    bottom: 100%; /* Ponta apontando para o elemento */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}